`ifndef AXI_MASTER_AGENT_SV
`define AXI_MASTER_AGENT_SV

class axi_master_sequencer extends uvm_sequencer #(axi_seq_item);
    `uvm_component_utils(axi_master_sequencer)
    function new(string name="axi_master_sequencer", uvm_component parent=null);
        super.new(name, parent);
    endfunction
endclass

class axi_master_agent extends uvm_agent;
    `uvm_component_utils(axi_master_agent)

    axi_master_sequencer sequencer;
    axi_master_driver    driver;
    axi_master_monitor   monitor;

    function new(string name = "axi_master_agent", uvm_component parent = null);
        super.new(name, parent);
    endfunction

    virtual function void build_phase(uvm_phase phase);
        super.build_phase(phase);
        monitor = axi_master_monitor::type_id::create("monitor", this);
        if (get_is_active() == UVM_ACTIVE) begin
            sequencer = axi_master_sequencer::type_id::create("sequencer", this);
            driver    = axi_master_driver::type_id::create("driver", this);
        end
    endfunction

    virtual function void connect_phase(uvm_phase phase);
        super.connect_phase(phase);
        if (get_is_active() == UVM_ACTIVE) begin
            driver.seq_item_port.connect(sequencer.seq_item_export);
        end
    endfunction
endclass

`endif
